---
default_install_hook_types:
  - commit-msg
  - pre-commit
  - pre-push

default_stages:
  - pre-commit
  - pre-push

repos:
  # Generic hooks that apply to a lot of files
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: check-added-large-files
      - id: check-case-conflict
      - id: check-executables-have-shebangs
      - id: check-shebang-scripts-are-executable
      - id: check-symlinks
      - id: destroyed-symlinks
      - id: end-of-file-fixer
      - id: mixed-line-ending
      - id: trailing-whitespace

      # The following only check that the files are parseable and does _not_
      # modify the formatting.
      - id: check-toml
      - id: check-xml
      - id: check-yaml

  - repo: https://github.com/lyz-code/yamlfix/
    rev: 1.19.1
    hooks:
      - id: yamlfix
        args:
          - --config-file=.yamlfix.toml

  - repo: https://github.com/biomejs/pre-commit
    rev: v2.3.11
    hooks:
      - id: biome-check

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.11
    hooks:
      - id: ruff
        args:
          - --fix
          - --exit-non-zero-on-fix
      - id: ruff-format

  - repo: https://github.com/crate-ci/committed
    rev: v1.1.10
    hooks:
      - id: committed

  - repo: https://github.com/DavidAnson/markdownlint-cli2
    rev: v0.20.0
    hooks:
      - id: markdownlint-cli2

  - repo: https://github.com/crate-ci/typos
    rev: v1.42.0
    hooks:
      - id: typos

  - repo: https://github.com/koalaman/shellcheck-precommit
    rev: v0.11.0
    hooks:
      - id: shellcheck
        args:
          - --external-sources

  - repo: https://github.com/scop/pre-commit-shfmt
    rev: v3.12.0-2
    hooks:
      - id: shfmt

  - repo: local
    hooks:
      - id: pwsh-lint
        name: pwsh lint
        language: system
        types:
          - powershell
        entry: >-
          pwsh -CommandWithArgs "$args
            | % {
              Invoke-ScriptAnalyzer
                -Settings PSGallery
                -Recurse -ReportSummary
                -EnableExit
                -Path $_
            }"

      - id: pwsh-format
        name: pwsh format
        language: system
        types:
          - powershell
        entry: >-
          pwsh -CommandWithArgs "$args
            | % {
              Invoke-Formatter
                -Settings PSGallery $_
            }"
