[alias]
	lg = log \
				--graph \
				--abbrev-commit \
				--decorate \
				--date=relative \
				--all \
				--format=format:'%C(red)%h%C(reset) - %C(white)%s%C(reset) %C(green)(%ar)%C(reset) %C(blue)<%an>%C(reset)%C(yellow)%d%C(reset)'
	pullall = "!f() { git pull \"$@\" && git submodule update --init --recursive; }; f"

[push]
	default = simple

[user]
	email = josh@jpellis.me
	name = JP-Ellis
	signingkey = 8BA20FCE

[github]
	user = JP-Ellis
