[user]
	email = josh@jpellis.me
	name = JP-Ellis
	signingkey = 8BA20FCE

[commit]
	gpgsign = true

[pull]
	rebase = true

[format]
	signoff = true

[alias]
	lg = log \
		--graph \
		--abbrev-commit \
		--decorate \
		--date=relative \
		--all \
		--format=format:'%C(red)%h%C(reset) - %C(white)%s%C(reset) %C(green)(%ar)%C(reset) %C(blue)<%an>%C(reset)%C(yellow)%d%C(reset)'
	pull-all = "!f() { git pull && git submodule update --init --recursive \"$@\"; }; f"

# Credentials / Integration
################################################################################
[credential "https://source.developers.google.com"]
	helper = gcloud.sh

[github]
	user = JP-Ellis

[gitlab]
	user = JP-Ellis

[magithub]
	online = true

[magithub "status"]
	includeStatusHeader = true
	includePullRequestsSection = true
	includeIssuesSection = true

# Filters for files containing outputs which shouldn't be committed
################################################################################
[core]
	attributesfile = /home/josh/.gitattributes

[filter "dropoutput_ipynb"]
	clean = ipynb_output_filter.py
	smudge = cat

[filter "dropoutput_nb"]
	clean = mathematica-notebook-filter
	smudge = cat

