{
  "apiServer": {
    "url": "https://kopia.jpellis.me:443",
    "serverCertFingerprint": ""
  },
  "caching": {
    "cacheDirectory": "../../.cache/kopia/b98443aec529c9ed",
    "maxCacheSize": 5242880000,
    "maxMetadataCacheSize": 5242880000,
    "maxListCacheDuration": 30
  },
  "hostname": "jpellis-desktop",
  "username": "josh",
  "description": "https://kopia.jpellis.me:443",
  "enableActions": false,
  "formatBlobCacheDuration": 900000000000
}