[Unit]
Description=Polkit Gnome Authentication Agent

[Service]
ExecStart=/usr/lib/polkit-gnome/polkit-gnome-authentication-agent-1
Restart=on-failure

[Install]
WantedBy=default.target
