---
name: test

permissions:
  contents: read

on:
  pull_request:
    branches:
      - main
  push:
    branches:
      - main

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: ${{ github.event_name == 'pull_request' }}

env:
  # Generic
  FORCE_COLOR: '1'
  CLICOLOR: '1'
  # Python
  HATCH_VERBOSE: '1'
  PYTHONUNBUFFERED: '1'
  STABLE_PYTHON_VERSION: '3.14'

jobs:
  # This job checks if the necessary checks have been completed and is used by
  # GitHub's rules to determine if the PR can be merged. This more convenient
  # than specifying each individual check in the GitHub UI.
  complete:
    name: Test completion check
    if: always()

    permissions:
      contents: none

    runs-on: ubuntu-latest
    needs:
      - prek

    steps:
      - name: Failed
        run: exit 1
        if: >
          contains(needs.*.result, 'failure')
          || contains(needs.*.result, 'cancelled')
          || contains(needs.*.result, 'skipped')

  ##############################################################################
  ## Checks
  ##############################################################################

  committed:
    name: Committed

    runs-on: ubuntu-latest
    if: github.event_name == 'pull_request'

    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8  # v6.0.1
        with:
          fetch-depth: 0

      - name: committed-action
        uses: crate-ci/committed@bb02f309663f9baced8dbd5fdd80c6369ddf3efd  # v1.1.8
        with:
          args: -vv --no-merge-commit --no-wip --no-fixup

  prek:
    name: Prek (pre-commit)

    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8  # v6.0.1

      - name: Cache prek
        uses: actions/cache@9255dc7a253b0ccc959486e2bca901246202afeb  # v5.0.1
        with:
          path: |-
            ~/.cache/prek
          key: >-
            ${{ runner.os }}-prek-${{
              hashFiles(
                '**/.pre-commit-config.yaml',
                '**/.pre-commit-config.yml'
              ) }}
          restore-keys: |-
            ${{ runner.os }}-prek-

      - name: Set up uv
        uses: astral-sh/setup-uv@681c641aba71e4a1c380be3ab5e12ad51f415867  # v7.1.6
        with:
          enable-cache: true
          cache-suffix: prek
          cache-dependency-glob: |-
            **/.pre-commit-config.yaml
            **/.pre-commit-config.yml

      - name: Install prek
        run: uv tool install prek

      - name: Run prek
        run: prek run --show-diff-on-failure --color=always --all-files
